<h1 [innerHTML]="mainTitle"></h1>

<p [textContent]="formErrorMsg.message"></p>

<form action="" (submit)="login()">
  <input 
    type="email" 
    [(ngModel)]="formObject.email" 
    name="email"
    (focus)="formErrorMsg.message = ''; formErrorMsg.isActive = false"
    [ngClass]="{'formError': formErrorMsg.isActive}"
  >
  
  <input 
    type="password" 
    [(ngModel)]="formObject.password" 
    name="password"
    (focus)="formErrorMsg.message = ''; formErrorMsg.isActive = false"
    [ngClass]="{'formError': formErrorMsg.isActive}"
  >

  <button type="submit">Connexion</button>
</form>